* { margin: 0; padding: 0; box-sizing: border-box; }
html {height:100%;}
body { font: 13px Comic Sans MS, Arial; height:100%; overflow:hidden;}
canvas {margin: 20px;}
button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
div#controls { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 5; padding: 10px; width: 50%; margin-right: .5%; }
input#name {border: 5; padding: 10px; width: 20%; margin-right: .5%; }
.label {font: 13px Comic Sans MS, Arial; color:white;}
button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; overflow-y:scroll; height:40%;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
canvas.table{ background-color:transparent; }
canvas.table.foosball{background-image: url('../images/foostable.png');}